﻿@page
@model AboutModel
@{
    ViewData["Title"] = "About";
	ViewData["Heading"] = "Ariana's Assignment 5!";
	ViewData["CurrentTime"] = DateTime.Now.ToString();
}

<h2>@ViewData["Heading"]</h2>
<h4> The time on the server is @ViewData["CurrentTime"] </h4>
<p>Web Application Information</p>