﻿@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Heading"] = "Information";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Heading"]</h3>

<address>
    Florida State University<br />
    Tallahassee, FL 32306<br />
    <abbr title="Phone">P:</abbr>
    850.555.4321
</address>

<address>
    <strong>Email address:</strong> <a href="mailto:amd14b@my.fsu.edu">amd14b@my.fsu.edu</a><br/>
</address>
