﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <a href="https://www.linkedin.com/in/arianamdavis" target="_blank">
                <img src="~/images/banner1.png" alt="ASP.NET" class="img-responsive" />
            </a>
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
             <a href="https://www.github.com/yourmobilegeek" target="_blank">
                <img src="~/images/banner2.png" alt="Visual Studio" class="img-responsive" />
             </a>
            <div class="carousel-caption" role="option">
            </div>
        </div>
        <div class="item">
            <a href="https://yourmobilegeek.tech" target="_blank">
                <img src="~/images/banner3.png" alt="Package Management" class="img-responsive" />
            </a> 
            <div class="carousel-caption" role="option">
            </div>
        </div>
        
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>GitHub Work </h2>
        <ul>
            <li><a href="https://github.com/YourMobileGeek/dharma-worldwidecom">Dharma Worldwide.</a></li>
            <li><a href="https://github.com/YourMobileGeek/070shakecom">070 Shake.</a></li>
            <li><a href="https://github.com/YourMobileGeek/Skufl">Skufl.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2> Database Work </h2>
        <ul>
            <li><a href="https://github.com/YourMobileGeek/SqlGrowth/blob/master/A1.sql">Assignment 1.</a></li>
            <li><a href="https://github.com/YourMobileGeek/SqlGrowth/blob/master/A5.sql">Assignment 5.</a></li>
            <li><a href="https://github.com/YourMobileGeek/SqlGrowth/blob/master/P2.sql">Project 2.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2> Java Work </h2>
        <ul>
            <li><a href="https://github.com/YourMobileGeek/JavaGrowth/blob/master/BankAccount.java">Bank Account.</a></li>
            <li><a href="https://github.com/YourMobileGeek/JavaGrowth/blob/master/DrawX.java">Draw X.</a></li>
            <li><a href="https://github.com/YourMobileGeek/JavaGrowth/blob/master/Methods.java">Methods.</a></li>
        </ul>
    </div>
</div>
